{% extends "base.html" %}
{% block content %}
    <nav>
        <ul>
            {% if users |length == 0 %}
                There are no users with blog posts yet.
            {% else %}
                {% for user in users %}
                    {% if thisUserid %}
                        {% if sessionToken %}
                            <li>
                                <a href="{{ url_for('blog', userid=user.userid, thisUserid=thisUserid, sessionToken=sessionToken)}}">
                                    {{user.username}}
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ url_for('blog', userid=user.userid)}}">{{user.username}}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
{% endblock %}