{% extends "base.html" %}
{% block content %}
		<form method="POST" action="/handleLogin">
			{% if _csrf_token %}
			<input name=_csrf_token type=hidden value="{{ _csrf_token() }}">
			Please enter your username:
			<input type="name" name="username" required autofocus/>
			<label for="usernameError">{{usernameError}}</label>
			Enter your password:
			<input type="password" name="password" required/>
			<label for="passwordError">{{passwordError}}</label>
			<input name="postThis" type="submit" text="Login" />
			<label for="someErrors">{{error}}</label>
		</form>
		<form method="GET" action="/signup">
			<input name="goRegister" type="submit" value="Sign Up"/>
		</form>
{% endblock %}