{% extends "base.html" %}
{% block content %}
    <nav>
        <ul>
            {% if bloglist|length == 0 %}
                There are no blogs yet.
            {% else %}
                {% for item in bloglist %}
                    <li>
                        <a href="{{ url_for('viewBlog', userid=item.userid, postId=item.postId, postTitle=item.postTitle, thisUserid=thisUserid, sessionToken=sessionToken)}}">
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
{% endblock %}