<!DOCTYPE html>
<html>
	<head>
		<title>Register</title>
	</head>
	<body>
		Sign up for MetaQuest Blogs:
		<form method="POST" action="/handleSignup">
			<table>
				<tr>
					<td>Username:</td>
					<td><input type="name" name="username" required autofocus/></td>
					<td><label for="usernameError">{{usernameError}}</label></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" name="password" required/></td>
					<td><label for="passwordError">{{passwordError}}</label></td>
				</tr>
				<tr>
					<td>Verify password:</td>
					<td><input type="password" name="verifyPassword" required/></td>
					<td><label for="verifyPasswordError">{{verifyPasswordError}}</label></td>
				</tr>
				<tr>
					<td>Email address (optional):</td>
					<td><input type="name" name="emailAddress" /></td>
					<td><label for="emailErrors">{{emailAddressError}}</label></td>
				</tr>
				<tr>
					<td><input name="Register" type="submit" value="Sign up" /></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</form>
	</body>
</html>